<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.girl.mapper.GirlMapper">
    <resultMap id="girlMap" type="com.imooc.girl.model.json.GirlJson">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="height" jdbcType="INTEGER" property="height"/>
    </resultMap>

    <select id="queryGirl" resultMap="girlMap">
        SELECT id,name,height FROM girl
    </select>

    <select id="queryGirlAgeById" parameterType="Integer" resultType="java.lang.Integer">
        SELECT age FROM girl WHERE id=#{id}
    </select>

    <insert id="saveGirl" parameterType="com.imooc.girl.model.entity.GirlEntity">
        INSERT INTO girl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test = "name != null">
                name,
            </if>
            <if test = "height != null">
                height,
            </if>
            <if test = "age != null">
                age,
            </if>

        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{id},
            <if test = "name != null">
                #{name},
            </if>
            <if test = "height != null">
                #{height},
            </if>
            <if test = "age != null">
                #{age},
            </if>

        </trim>
    </insert>

</mapper>